<%#this is already multipart: true %>
<%= simple_form_for @project do |f| %>
	<% if @project.errors.full_messages.any? %>
  <% @project.errors.full_messages.each do |error_message| %>
    <%= error_message if @project.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>
	<div class="panel-bod">
		<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select Category") %>
	  <%= f.input :title, label: "Project Title:", placeholder: "Project Title", input_html: { class: 'form-control'} %>
	  <%= f.input :description, label: "Project Description:", placeholder: "Project Description" %>
	  <%= f.input :designer, label: "Project Designer:", placeholder: "Project Designer" %>
	 </div>
	  <hr />
	  <div id="#projects">
	  	<%= f.simple_fields_for :project_image do |img| %>
  			<%= render "image_fields", f: img %>
  			<div class="links">
  				<%= link_to_add_association("Add Image", f, :project_image) %>
  			</div>
  		<% end %>
  	</div>
  	<hr />
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>