<div class="container">
	<div class="jumbotron">
		
		<%= picture_tag 'http://creativecrux.s3.amazonaws.com/images/_fullsize/crux-computer-bk-small.jpg', image: {alt: 'CRUX Main Logo'} do %>
			<%= source_tag srcset: 'http://creativecrux.s3.amazonaws.com/images/_fullsize/crux-computer-bk-large.jpg', media: '(min-width: 1200px)', sizes: '100vw' %>
			<%= source_tag srcset: 'http://creativecrux.s3.amazonaws.com/images/_fullsize/crux-computer-bk-small.jpg', media: '(min-width: 720px)', sizes: '100vw' %>
		<% end %>

	</div>

	<h1 class="current-category"><%= params[:category] %></h1>
<%#= debug @projects[4].project_image[0].name%>

	<% if @projects.count == 0 #if there are no projects in the current category then... %>
		<h3>Check Back Later. Please and Thanks!</h3>
	<% else %>


		<% @projects.each_slice(3) do |project| %>
		<div class="project-slice">
			<% project.each do |p| %>
			<div class="col-md-4">
				<div class="project--detail">
					<h2><%= link_to p.title, project_path(p), class: "project--detail-link" %></h2>
				</div>
				
				<% if p.project_image[0].present? %>
				<div class="project--img-wrapper">
					<%= image_tag(p.project_image[0]["urlpath"], class: "project--img")%>
					<%#= image_tag(p.project_image[0].urlpath) %>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>	
		<% end %> <%# End of @projects.each_slice %>
	<% end %> <%# End of Else statement for @projects.count == 0 %>
	<br>
	<%= link_to "Add Project", new_project_path %>
</div>