<div class="main-bg">
		<%= render 'svg/cruxlogo6' %>
		<!--particle generator-->
		<div class="main-header-wrapper">
			<h1 class="ztitle-container"><span>Create. Read. Update. Explore. </span></h1>

		</div>
	<!--logo title-->

	<!--logo title-->

	<%#= render "svg/crux_hero" %>
	<div class="main-bg-gradient"></div>
</div>

<% if @projects %>
<div class="main-projects-preview">
	<div class="main-projects-preview__project">
		<%= link_to(@projects[0]) do%>
			<%= image_tag(@projects[0].project_image[0].urlpath, :class => "zclass") %>
		<% end %>
	</div>
	<div class="main-projects-preview__project">
		<%= link_to(@projects[1]) do%>
			<%= image_tag(@projects[1].project_image[0].urlpath, :class => "zclass") %>
		<% end %>
	</div>
	<div class="main-projects-preview__project">
		<%= image_tag(@projects[0].project_image[0].urlpath, :class => "zclass") %>
	</div>
</div>
<% end %>
<!-- **************************************** -->
<div class="container-fluid z-uxContainer">

	<div class="row">

	</div>

	<div class="row">

		<div class="z-ux-left">
			<%= render 'svg/robot' %>
		</div>
		<div class="z-ux-right">
			<h2>CODE</h2>
			<p>Things I've been working on. Things I have worked on. And things that I will one day work on.</p>

			<h3>Current Project:</h3>

			<h3>In Progress:</h3>
			<ul>
				<li>Firebase and MongoDB Projects</li>
				<li>Snap.svg &amp; GSAP Animations</li>
				<li>Education app: Comparing Star and Sage scores</li>
			</ul>

			<div class="link-container-wrapper">
				<%= link_to 'VIEW GITHUB REPOS', 'https://github.com/escapetherobots', class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid z-uxContainer z-uxContainer--bg-2">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot2' %>
		</div>
		<div class="z-ux-right">
			<h2>DEVELOPING DEV</h2>
			<p>Projects exploring React, Redux, ES6, Rails, and APIs. FYI, they take a few seconds to spin up on Heroku.</p>

			<div class="link-container-wrapper">
				<div class="link-container">
				<%= link_to 'Short Link URL App',
							"http://crux-links.herokuapp.com/",
							target: "_blank",
							class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
				</div>

				<div class="link-container">
					<%= link_to 'Most Amazing Todo App Ever',
							"http://crux-react-todo.herokuapp.com/",
							target: "_blank",
							class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
				</div>
				<div class="link-container">
				<%= link_to 'RPG Start with Phaser.js',
							"http://crux-phaser.herokuapp.com/",
							target: "_blank",
							class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
				</div>

				<div class="link-container">
				<%= link_to 'Weather app with React',
							"http://crux-weather.herokuapp.com/",
							target: "_blank",
							class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
				</div>
			</div>

		</div>


	</div>

</div>


<div class="container-fluid z-uxContainer z-uxContainer--bg-3">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot3' %>
		</div>
		<div class="z-ux-right">
				<h2>Skills</h2>
				<p>Some of the skills I have picked up on my journey:</p>
				<ul>
					<li>JS/ES6/jQuery</li>
					<li>HTML/SCSS/</li>
					<li>React and Redux</li>
					<li>Ruby/Rails</li>
					<li>PHP/CakePHP</li>
					<li>Firebase/MongoDB/Postgres</li>

				</ul>
		<div class="link-container-wrapper">
				<a class='btn btn-4 btn-4a icon-arrow-right margin-top-15 zd-btn' %>RESUME</a>
		</div>
				<!-- <canvas id="myCanvas" width="500" height="300"></canvas> -->

		</div>


	</div>

</div>


<!-- <div class="container-fluid z-uxContainer z-uxContainer--bg-4">
	<div class="row">

	</div>

</div> -->





<!-- <div class="container">
	<div class="row">

	</div>
</div> -->

<!-- <div class="container z-hexContainer">
	<div class="row">
		<%# render 'shared/crux_diagram' %>
	</div>
	<%#= render 'svg/testtube' %>

</div> -->



<!-- <div class="container z-hexContainer" id="z-hexContainer--diagram">
	<div class="row">
		<%# render 'shared/hex_grid2' %>
	</div>
	<%#= render 'svg/testtube' %>

</div> -->





<!-- <div class="container">
	<div class="row">
		<div class="logo-anim">
		<%# render 'svg/cruxlogo4' %>

		</div>
	</div>
</div>
 -->
