<div class="main-bg">
	<%= render "svg/crux_hero" %>
</div>

<div class="container">
	<div class="row">
		<div id="svgWrapper">
		<%# render 'svg/cruxlogo' %>


	</div>
	<%# render 'svg/cruxlogo2' %>
	
	<%#= render 'svg/testtube' %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="crux-diagram">
			<%= render 'svg/crux_diagram' %>
		</div>
		<div class="crux-diagram--mobile">
			<div class="crux-diagram--item svg-project" >
				<%= render 'svg/diagram_mobile/research' %>
			</div>

			<div class="crux-diagram--item svg-project" >
				<%= render 'svg/diagram_mobile/research' %>
			</div>
			
			<div class="crux-diagram--item svg-project" data-test="toggle-diagram">
				<%= render 'svg/diagram_mobile/research' %>
			</div>
			<div class="crux-diagram--item-info" data-test="toggle-diagram-info">
				When training in UX design you'll quickly conclude that although the aesthetics of a product make a huge difference to its appeal, if it doesn’t work well, the look of it is of little consequence to the user. However, bear in mind that the ultimate success of a product depends not just on your design, but on the implementation of it by developers and the management of the project. This is where another key UX design skill - communication within the team - comes to the fore, but we’ll talk more about that in finer detail in the last section.
			</div>

			
			<div class="crux-diagram--item svg-project" >
				<%= render 'svg/diagram_mobile/research' %>	
			</div>

			<div class="crux-diagram--item svg-project">
				<%= render 'svg/diagram_mobile/research' %>
			</div>

			<div class="crux-diagram--item svg-project">
				<%= render 'svg/diagram_mobile/research' %>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row"> <!-- begin top row -->
		<div class="logo-anim">
		<%# render 'svg/cruxlogo4' %>
		
		</div>
	</div> <!--end top row -->
</div>

<div class="full-width">
	<h1 class="current-category"><%= params[:category] %></h1>
<%#= debug @projects[4].project_image[0].name%>

	<% if @projects.count == 0 #if there are no projects in the current category then... %>
		<h3>Check Back Later. Please and Thanks!</h3>
	<% else %>


		<% @projects.each_slice(3) do |project| %>
		<div class="project-slice">
			<% project.each do |p| %>
			<div class="project--item">
				<div class="project--detail">
					<h2><%= link_to p.title, project_path(p), class: "project--detail-link" %></h2>
				</div>
				
				<% if p.project_image[0].present? %>
				<div class="project--img-wrapper">
					<%= image_tag(p.project_image[0]["urlpath"], class: "project--img")%>
					<%#= image_tag(p.project_image[0].urlpath) %>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>	
		<% end %> <%# End of @projects.each_slice %>
	<% end %> <%# End of Else statement for @projects.count == 0 %>
	<br>
	<%= link_to "Add Project", new_project_path %>
</div>