<div class="main-bg">
	
		<!--particle generator-->
		<div class="main-header-wrapper">
			<h1><span>Crafting Exceptional User Experiences </span>Through Design and Coding</h1>
			<%= render 'svg/cruxlogo5' %>
		</div>
	<!--logo title-->

	<!--logo title-->

	<%#= render "svg/crux_hero" %>
	<div class="main-bg-gradient"></div>
</div>





<div class="container-fluid">
	<div class="row">
		<div class="project-all-slice">
			<!-- <h1 class="current-category"><%= params[:category] %></h1> -->
		<%#= debug @projects[4].project_image[0].name%>

			<% if @projects.count == 0 #if there are no projects in the current category then... %>
				<h3>Check Back Later. Please and Thanks!</h3>
			<% else %>


				<% @projects.each_slice(3) do |project| %>
				<div class="project-slice">
					<% project.each_with_index do |p, index| %>
					<div class="project--item">
						<div class="project--detail">
							
								<%= link_to project_path(p) do %>
									<h2 class="project-slice-title">
								  		<span class="project-slice-title--left"><%= "0#{index + 1}" %></span><span class="project-slice-title--right"><%= p.title %></span>
									</h2>
								<% end %>

							
						</div>
						
						<% if p.project_image[1].present? %>
						<div class="project--img-wrapper">
							<%= image_tag(p.project_image[1]["urlpath"], class: "project--img")%>
							<%#= image_tag(p.project_image[0].urlpath) %>
						</div>
						<% end %>
					</div>
					<% end %>
				</div>	
				<% end %> <%# End of @projects.each_slice %>
			<% end %> <%# End of Else statement for @projects.count == 0 %>
		</div><!--end project-all-slice-->

	</div>

</div>



<div class="container-fluid z-uxContainer">
	<div class="row">
		<div class="z-ux-left">
			<%= render 'svg/robot' %>
		</div>
		<div class="z-ux-right">
			<h2>DEV BLOG</h2>
			<p>Although not much of a blogger, I figured this would be a good way to document my journey through the coding trenches.</p>
			
			<h3>Current Projects:</h3>
			<ul>
				<li>Rails Weather API App</li>
				<li>Microservices with Angular and Rails</li>
				<li>Rails 5</li>
				<li>Angular and Firebase</li>
				<li>Snap.svg &amp; GSAP Animations</li>
				<li>Angular &amp; D3</li>

			</ul>
			<button class="btn btn-4 btn-4a icon-arrow-right">DEV SNIPPETS</button>
		</div>

	</div>

</div>

<div class="container-fluid z-uxContainer z-uxContainer--bg-2">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot2' %>
		</div>
		<div class="z-ux-right">
			<h2>UX/DESIGN</h2>
			<p>The goal of UX design in business is to “improve customer satisfaction and loyalty through the utility, ease of use, and pleasure provided in the interaction with a product.” --Oxford Journal: Interacting with Computers</p>
			<!-- <p>https://academic.oup.com/iwc/article/23/5/473/660020/UX-Curve-A-method-for-evaluating-long-term-user</p> -->
			<button class="btn btn-4 btn-4a icon-arrow-right">READ POSTS</button>
		</div>


	</div>

</div>


<div class="container-fluid z-uxContainer z-uxContainer--bg-3">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot3' %>
		</div>
		<div class="z-ux-right">
				<h2>MATH NOTES</h2>
				<p>Like a lot of people, I used to tell myself that I just wasn't good at math, but since going back to school to get a CS degree, I've realized how enjoyable it actually is. The most gratifying aspect of math is the objectivity. With math, you don't have to wonder if a client will &ldquo;like&ldquo; your solution to a given problem, it either works or it doesn't. So, if you want to feel some left-brain pain by freshening up your math skills, check out some of the topics that I've currently been learning!</p>
				<button class="btn btn-4 btn-4a icon-arrow-right">GO MATH!</button>

				<!-- <canvas id="myCanvas" width="500" height="300"></canvas> -->

		</div>


	</div>

</div>


<div class="container-fluid z-uxContainer z-uxContainer--bg-4">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<h2>Background &amp; Skills</h2>
		</div>
		<div class="z-ux-right">
				<h2>Experience</h2>
				<h3>Job 1</h3>
				<p>Job Description</p>


		</div>


	</div>

</div>





<!-- <div class="container">
	<div class="row">
		
	</div>
</div> -->

<div class="container z-hexContainer">
	<div class="row">
		<%= render 'shared/crux_diagram' %>
	</div>
	<%#= render 'svg/testtube' %>

</div>



<div class="container z-hexContainer" id="z-hexContainer--diagram">
	<div class="row">
		<% render 'shared/hex_grid2' %>
	</div>
	<%#= render 'svg/testtube' %>

</div>





<div class="container">
	<div class="row"> <!-- begin top row -->
		<div class="logo-anim">
		<%# render 'svg/cruxlogo4' %>
		
		</div>
	</div> <!--end top row -->
</div>





