


<div class="main-bg">
		<%= render 'svg/cruxlogo6' %>
		<!--particle generator-->
		<div class="main-header-wrapper">
			<h1 class="ztitle-container"><span>Create. Read. Update. Explore. </span></h1>
			
		</div>
	<!--logo title-->

	<!--logo title-->

	<%#= render "svg/crux_hero" %>
	<div class="main-bg-gradient"></div>
</div>








<div class="container-fluid z-uxContainer">
	<div class="row">

		<div class="z-ux-left">
			<%= render 'svg/robot' %>
		</div>
		<div class="z-ux-right">
			<h2>DEV STUFF</h2>
			<p>Using modular dynamicism, we could recreate, unfold, re-sequence, understand, and reshape the way we think of thought itself. By constantly monitoring thought itself, it will not only lead you nowhere, it will give you a headache. So try not to do that; instead, try to do something that's way outside of the box.</p>
			
			<h3>Current Projects:</h3>
			<ul>
				<li>Rails Weather API App</li>
				<li>Microservices with Angular and Rails</li>
				<li>Rails 5</li>
				<li>Angular and Firebase</li>
				<li>Snap.svg &amp; GSAP Animations</li>
				<li>Angular &amp; D3</li>

			</ul>
			<%= link_to 'VISIT MY GITHUB', 'https://github.com/escapetherobots', class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
		</div>
	</div>
</div>

<div class="container-fluid z-uxContainer z-uxContainer--bg-2">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot2' %>
		</div>
		<div class="z-ux-right">
			<h2>UX/DESIGN</h2>
			<p>The goal of UX design in business is to “improve customer satisfaction and loyalty through the utility, ease of use, and pleasure provided in the interaction with a product.” --Oxford Journal: Interacting with Computers</p>
			<!-- <p>https://academic.oup.com/iwc/article/23/5/473/660020/UX-Curve-A-method-for-evaluating-long-term-user</p> -->
			<%= link_to 'Coming Soon', "#", class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>
		</div>


	</div>

</div>


<div class="container-fluid z-uxContainer z-uxContainer--bg-3">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot3' %>
		</div>
		<div class="z-ux-right">
				<h2>Skills</h2>
				<p>'Cause it's more than you think
and it's less than that 
we're only living in 
the memories of our future selves
and it's fun to think that we're here right now
but we never really are  
'cause we're somewhere in the future 
controlling the options
giving lots of hints to ourselves
in order for us to understand
the choice is still important
in a world where we gotta figure some stuff out, yea</p>
				<%= link_to 'COMING SOON', "#{}", class: 'btn btn-4 btn-4a icon-arrow-right margin-top-15' %>

				<!-- <canvas id="myCanvas" width="500" height="300"></canvas> -->

		</div>


	</div>

</div>


<!-- <div class="container-fluid z-uxContainer z-uxContainer--bg-4">
	<div class="row">
		
	</div>

</div> -->





<!-- <div class="container">
	<div class="row">
		
	</div>
</div> -->

<!-- <div class="container z-hexContainer">
	<div class="row">
		<%# render 'shared/crux_diagram' %>
	</div>
	<%#= render 'svg/testtube' %>

</div> -->



<!-- <div class="container z-hexContainer" id="z-hexContainer--diagram">
	<div class="row">
		<%# render 'shared/hex_grid2' %>
	</div>
	<%#= render 'svg/testtube' %>

</div> -->





<!-- <div class="container">
	<div class="row">
		<div class="logo-anim">
		<%# render 'svg/cruxlogo4' %>
		
		</div>
	</div>
</div>
 -->




