<div class="project-item">

	<div class="project-management-links">
						<% if user_signed_in? %>
						<% if @project.user_id == current_user.id %>
							<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-4 btn-4a btn-proj-manage icon-arrow-right" %>

							<%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-4 btn-4a btn-proj-manage icon-arrow-right" %>
						<% end %>
						<% end %>

	</div><!--end btn-group -->

	<div class="project-item-images">
		<% if @project.project_image.present? %>
			<%#= @project_images[0].name %>
			<% image = @project.project_image.first %>
				<%= image_tag(image.urlpath, :class => "project-item--image-full") %>
				<% if image.urlpath.match(/_fullsize/).present? %>
					<% modImage = image.urlpath.split( /_fullsize/ ) %>
					<% modImagePath = "#{modImage[0]}_thumbs-184#{modImage[1]}" %>
					<% image_tag(modImagePath, :class => "project-item--image-small") %>
				<% end %>
				


		<% end %>
		
	</div>


	<div class="container-fluid project-show-bg <%= @project.slug %>">
		<div class="row">

			<div class="project-item-content">
				<div class="project-item--title">
					<h3>Category: <%= @project.category.nil? ? "There is no Category" : @project.category.name  %></h3>
					<h1><%= @project.title %></h1>
				</div>

				<div class="project-item-content-left">	
					<% unless @project.summary == nil %>
								<div class="project-item-description"><%= markdown(@project.summary) %></div>
							<% end %>
					<button id="toggle-project-detail" data-test="toggle" class="btn btn-4 btn-4a icon-arrow-right btn-100">Show Details</button>
					<div id="project-detail" data-test="toggle-project-detail" class="project--i-detail">

							
					<p><%= markdown(@project.description) %></p>
					<p><%#= @project.category.name %></p>
							
					</div>
					
					
					
					<div class="project-previous-next-links">
						<% unless @project.id == Project.where(:category => @project.category_id).first.id %>
							<%#Hide 'Previous' link once we reach to first record %>

							  <%= link_to "Previous", Project.get_previous_project(@project), class: "btn btn-4 btn-4b btn-proj-manage icon-arrow-left" %>
							  	
						<% end %>
						<% unless  @project.id == Project.where(:category => @project.category_id).last.id %>
							<%#Hide 'Next' link once we reach to last record %>
							<%= link_to "Next Post", Project.get_next_project(@project), class: "btn btn-4 btn-4a btn-proj-manage icon-arrow-right" %>
						<% end %>
					</div>

				</div>

				<div class="project-item-content-right">
					
					<!-- <div class="project-item-description"><%= markdown(@project.description) %></div> -->
					

					<p>
						Figma is fundamentally different than previous attempts. They are leveraging the power of modern browsers, and are poised to go further than our design software could have previously.
This isn’t bleeding edge, it’s not too early. Try Figma out on a real project, then decide if it’s right for you. It’s free right now, even for teams, so there’s no reason not to check it out.
					</p>

					

				</div>
					
			</div><!-- end project item content -->


		</div><!--end row -->
	</div><!-- end container-fluid-->

	


	

	<div class="project-item-images">
	<% if @project.project_image.present? %>
		<%#= @project_images[0].name %>
		<% @project.project_image.each_with_index do |image, index| %>
			<div class="project-item-image-wrapper">
			<% unless image.name == @project.project_image.first.name %>
				<%= image_tag(image.urlpath, :class => "project-item--image-full") %>
				<% if image.urlpath.match(/_fullsize/).present? %>
					<% modImage = image.urlpath.split( /_fullsize/ ) %>
					<% modImagePath = "#{modImage[0]}_thumbs-184#{modImage[1]}" %>
					<% image_tag(modImagePath, :class => "project-item--image-small") %>
				<% end %>
			<% end %>

			<% if index == 2 %>
				<div class="project-item-image-bg-effect"></div>
				<div class="project-item-image-bg-effect2"></div>
				<div class="project-item-image-bg-effect3"></div>
				<div class="project-item-image-bg-effect4"></div>
				<div class="project-item-image-bg-effect5"></div>
				<div class="project-item-image-bg-effect6"></div>
				<div class="project-item-image-bg-effect7"></div>
				<div class="project-item-image-bg-effect8"></div>
			<% end %>
			<% if index == 3 %>

			<% end %>

			<% if index == 4 %>

			<% end %>

			</div><!--end project-item-image-wrapper -->
		<% end %><!--end the each block -->

	<% end %>
	</div>


</div><!--end project-item-->
