<!DOCTYPE html>
<html>
<head>
  <title>CREATIVE CRUX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  
	<link rel="apple-touch-icon" sizes="180x180" href="http://creativecrux.s3.amazonaws.com/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="http://creativecrux.s3.amazonaws.com/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="http://creativecrux.s3.amazonaws.com/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="http://creativecrux.s3.amazonaws.com/images/favicons/manifest.json">
	<link rel="mask-icon" href="http://creativecrux.s3.amazonaws.com/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="http://creativecrux.s3.amazonaws.com/images/favicons/favicon.ico">
	<meta name="msapplication-config" content="http://creativecrux.s3.amazonaws.com/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller_name%> <%= action_name %>">
	




	<%#= render 'shared/parallax03' %>
	<%#= render 'shared/navbar_icon' %>
		
		<%= render 'shared/navbar' %>
	
		<% if Rails.env.test? %>
		  <p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
		<% end %>
	

  
	<%= yield %>
	
	<div class="cd-panel from-right">
		<header class="cd-panel-header">
			<h1>About</h1>
			<a href="#0" class="cd-panel-close">Close</a>
		</header>

		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<div class="cd-panel-resume" id="resume">
					<h2>Background &amp; Experience </h2>
					<div class="resume-left">
						<%= render 'shared/resume3' %>
						<div id="myChart">
							<canvas id="myChartCanvas"></canvas>
							<canvas id="myChartCanvas2"></canvas>
						</div>
					</div>
					<div class="resume-right">
						<%= render 'shared/resume2' %>
					</div>

				</div>
			</div>	

		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->
	
	<%# render 'shared/pushnav' %>
</body>
</html>
