<!DOCTYPE html>
<html>
<head>
  <title>BlogTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller_name%> <%= action_name %>">

	<a id="simple-menu" href="#sidr">Toggle menu</a>

<div id="sidr">
  <!-- Your content -->
  <ul>
    <li><a href="#">List 1</a></li>
    <li class="active"><a href="#">List 2</a></li>
    <li><a href="#">List 3</a></li>
  </ul>
</div>
	<%#= render 'shared/parallax03' %>
	<%= render 'shared/navbar' %>
	
	<div id="svgWrapper">
		<%# render 'svg/cruxlogo' %>


	</div>
	<%# render 'svg/cruxlogo2' %>
	
	<%#= render 'svg/testtube' %>

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


	<%= yield %>

</body>
</html>
